/* font: import ================================================ */

@font-face {
  font-family: 'FKGroteskSemiMonoTrial-Regular';
  src: url('../font/FKGroteskSemiMonoTrial-Regular.woff') format('woff');
  src: url('../font/FKGroteskSemiMonoTrial-Regular.woff2') format('woff2');
}


/* text: drag color ================================================ */

::selection {
  color: var(--bg);
  background: white;
}

::-moz-selection {
  color: var(--bg);
  background: white;
}


/* text: default ================================================ */

a {
  color: #000000;
  text-decoration: none;
}

/* .ChannelContents a {
  color: blue;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
} */

/* .ChannelContents {
  a::before {
    content: '–';
    font-family: FKGroteskSemiMonoTrial-Regular, sans-serif;
    font-size: 14.4px;
    margin-right: 4px;
  }
} */


a:hover {
  color: #ffffff;
  /* text-shadow: 0 0px 6px yellow; */
  text-decoration: none;
}

p {
  font-family: FKGroteskSemiMonoTrial-Regular,sans-serif;
  font-size: 14.4px;
  letter-spacing: 0.027em;
  /* margin-block-start: 0.3em;
  margin-block-end: 0.3em; */
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
  text-transform: none;
  color: #000000;
}

/* p::selection {
  color: #000000;
  text-shadow: 0 0px 6px blue;
  background: #2d2d2d;
} */

ul {
  font-family: FKGroteskSemiMonoTrial-Regular,sans-serif;
  font-size: 14.4px;
  letter-spacing: 0.027em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
  text-transform: none;
  color: #000000;
  /* padding-left: 2px; */
  padding-left: 20px;
  /* padding-left: 35px; */
}

ul li::before {
  content: '—';
  margin-left: -20px;
  margin-right: 8px;
}

ul li a::before {
  content: '–';
  background: var(--bg);
  /* margin-left: -20px;
  margin-right: 8px; */
  margin-left: -19px;
  margin-right: 8px;
  font-size: 16px;
}

li {
  padding-bottom: 3px;
}

a > p::selection {
  color: #ffffff;
  /* text-shadow: 0 0px 6px yellow; */
  text-decoration: none;
}

a > p:hover {
  color: #ffffff;
  /* text-shadow: 0 0px 6px yellow; */
  text-decoration: none;
}

.BlockInner__Text > p::selection {
  color: #000000;
  /* text-shadow: 0 0px 6px blue; */
  background: gainsboro;
  /* color: #000000;
  text-shadow: 0 0px 6px yellow; */
  text-decoration: none;
}



/* Projects ================================================ */

h4 {
  margin-block-start: 10px;
  margin-block-end: 4px;
  /* padding-left: 20px; */
}

/* h4::before {
  content: '⌘';
  margin-left: -22px;
  margin-right: 6px;
} */

span.p0 {
  /* color: black;
  background: white; */
}

span.p1 {
  color: black;
  background: var(--p1-bg);
}

span.p2 {
  color: black;
  background: var(--p2-bg);
}

span.p3 {
  color: black;
  background: var(--p3-bg);
  /* background: #00eeff;   */
  /* color: white;
  background: blue; */
}

/* h4.p0::before {
  content: '🄋';
  margin-left: -20px;
  margin-right: 8px;
}

h4.p1::before {
  content: '➊';
  margin-left: -20px;
  margin-right: 8px;
}

h4.p2::before {
  content: '➋';
  margin-left: -20px;
  margin-right: 8px;
}

h4.p3::before {
  content: '❸';
  margin-left: -20px;
  margin-right: 8px;
} */

b {
  display: inline;
  color: lightgray;
  background: black;
}

u {
  display: inline;
  text-decoration: none;
  background: white;
}

i {
  display: inline;
  font-style: normal;
  color: #ffffff;
  background: #ff00ff;
}

.bb {
  display: inline;
  color: black;
  background: #ffa0e7;
}

.fd {
  display: inline;
  color: black;
  background: #adffed;
}

/* .p1 {
  display: inline;
  background: yellow;
} */